apiVersion: v1
kind: Pod
metadata:
  labels:
    app.kubernetes.io/instance: scaffold
    app.kubernetes.io/name: fulcio
    pod-template-hash: 74d5ff6f7f
  name: fulcio-server
  namespace: fulcio-system
spec:
  automountServiceAccountToken: true
  containers:
    - args:
        - serve
        - --port=5555
        - --grpc-port=5554
        - --ca=fileca
        - --fileca-key
        - /var/run/fulcio-secrets/key.pem
        - --fileca-cert
        - /var/run/fulcio-secrets/cert.pem
        - --fileca-key-passwd
        - {{ fulcio_ca_passphrase  }}
        - --ct-log-url=http://ctlog:6962/{{ ct_logprefix }}
      # env:
      #   - name: PASSWORD
      #     valueFrom:
      #       secretKeyRef:
      #         key: password
      #         name: fulcio-server-secret
      image: gcr.io/projectsigstore/fulcio@sha256:27c6e4fe64a72a537c133452d9c8e0518944d1d69aeee5e7ef8a9fbe70b8b5d3
      imagePullPolicy: IfNotPresent
      name: fulcio-server
      ports:
        - containerPort: 5555
          protocol: TCP
        - containerPort: 5554
          protocol: TCP
        - containerPort: 2112
          protocol: TCP
      resources: {}
      terminationMessagePath: /dev/termination-log
      terminationMessagePolicy: File
      volumeMounts:
        - mountPath: /etc/fulcio-config
          name: fulcio-config
        # - mountPath: /var/run/fulcio
        #   name: oidc-info
        - mountPath: /var/run/fulcio-secrets
          name: fulcio-cert
          readOnly: true
  dnsPolicy: ClusterFirst
  enableServiceLinks: true
  nodeName: minikube
  preemptionPolicy: PreemptLowerPriority
  priority: 0
  restartPolicy: Always
  schedulerName: default-scheduler
  securityContext:
    runAsNonRoot: true
    runAsUser: 65533
  serviceAccount: fulcio-server
  serviceAccountName: fulcio-server
  terminationGracePeriodSeconds: 30
  tolerations:
    - effect: NoExecute
      key: node.kubernetes.io/not-ready
      operator: Exists
      tolerationSeconds: 300
    - effect: NoExecute
      key: node.kubernetes.io/unreachable
      operator: Exists
      tolerationSeconds: 300
  volumes:
    - configMap:
        defaultMode: 420
        name: fulcio-config
      name: fulcio-config
    # - name: oidc-info
    #   projected:
    #     defaultMode: 420
    #     sources:
    #       - configMap:
    #           items:
    #             - key: ca.crt
    #               mode: 438
    #               path: ca.crt
    #           name: kube-root-ca.crt
    - name: fulcio-cert
      # secret:
      configMap:
        defaultMode: 420
        items:
          - key: private
            path: key.pem
          - key: cert
            path: cert.pem
        name: fulcio-server-secret
        # secretName: fulcio-server-secret