{% for item in ['keycloak','fulcio','tuf', 'rekor'] %}
{{ hostvars[inventory_hostname].ansible_default_ipv4.address|default(ansible_all_ipv4_addresses[0]) }} {{ item }}.{{ base_hostname }}
{% endfor %}